{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

<div class="editPage">
    <div class="edit">
        <h1>{{ 'title.new_User'|trans }}</h1>

    {{ include('user_managements/_form.html.twig') }}

    <a href="{{ path('user_managements_index') }}">{{'back_to_list'|trans}}</a>
    </div>
    </div>
{% endblock %}
